/iac/terraform.tfvars
/iac/terraform.tfstate
/iac/terraform.tfstate.backup
/iac/.terraform/
/iac/.kubeconfig
/iac/.terraform.lock.hcl
/.idea/
/nginx/etc/ssl/certs/cert.crt
/nginx/etc/ssl/private/cert.key
/nginx/etc/.htpasswd
